<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= student.age %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= student.level %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= student.course_id %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= student.payment_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= student.location_id %>
  </p>

</div>
